mixin slider(modifier)
  .slider&attributes(attributes)
    .slider__content 
      h2.slider__title Что о нас говорят наши&nbsp;клиенты
      .slider__slider 
        img(src="img/strelka.png" alt="Стрелка").slider__arrow.slider__arrow--prev
        .slider__area
          .slider__slide 
            .slider__slideimages 
              img(src="img/karina.jpg" alt="Фото").slider__slideimg
              img(src="img/huvitz.png" alt="Huvitz").slider__slideimg
            .slider__slideinfo 
              h3.slider__slidetitle Карина
              p.slider__slidecompany Генеральный директор OOO “Huvitz”
              p.slider__slidetext Очень удобно, что в наше время стала жизнь проще и есть такие вот компании, как ПКМ. Мы давно мечтали купить на работу кофемашину и пить вкусный кофе, но цены на хорошую очень высоки, а вот взять кофемашину в аренду бесплатно при покупке качественного кофе вполне доступно. Узнала об этой компании от друзей. Они уже около года работают с ними и мы очень довольны обслуживанием. Машины все в идеальном состоянии, работают прекрасно, без нареканий. Машины чистят и проверяют регулярно. Так что у нас голова ни о чем не болит! 
          .slider__slide 
            .slider__slideimages 
              img(src="img/coffeelike.png" alt="Coffee Like").slider__slideimg
            .slider__slideinfo 
              h3.slider__slidetitle Сеть кофеен Coffee Like
              p.slider__slidecompany Крупнейшая сеть  “кофе с собой” в России
              p.slider__slidetext Берем в аренду профессиональное кофейное оборудование у “ПКМ” уже долгое время. Довольны как качеством оборудования, так и сервисом компании. Всегда оперативно решают проблемы с ремонтом и обслуживанием, хотя ремонт практически никогда и не требуется, потому, что машины очень надежные. Тот самый случай, когда компания решает проблемы клиента и не создает дополнительных, за что, большое вам спасибо!
          .slider__slide 
            .slider__slideimages 
              img(src="img/bb.png" alt="Фото").slider__slideimg
            .slider__slideinfo 
              h3.slider__slidetitle «Британские пекарни»
              p.slider__slidecompany Известные пекарни в Санкт-Петербурге
              p.slider__slidetext Заказываем на регулярной основе как простой кофе, так и кофе в чалдах без кофеина, горячий шоколад и много другой вкусной продукции у “ПКМ”. Всем довольны, все вкусно. Классные кофемашинки, выдерживают большой поток без перебоев.Приятно с вами работать, желаем большого роста и процветания!
          .slider__slide 
            .slider__slideimages 
              img(src="img/varlet.png" alt="Фото").slider__slideimg
            .slider__slideinfo 
              h3.slider__slidetitle Студия красоты Varlet Studio
              p.slider__slidecompany Известные пекарни в Санкт-Петербурге
              p.slider__slidetext Пользуемся вашими кофемашинами в салонах нашей студии, очень удобный и оперативный сервис , а наши гости довольны кофейными комплиментами во время маникюра и педикюра. 
          .slider__slide 
            .slider__slideimages 
              img(src="img/gerb.png" alt="Фото").slider__slideimg
            .slider__slideinfo 
              h3.slider__slidetitle Комитет по физической культуре и спорту Гатчинского&nbsp;муниципального района.
              p.slider__slidecompany 
              p.slider__slidetext Сотрудничаем с ПКМ при проведении мероприятий в Гатчинском муниципальном районе. Подарочные изделия от ПКМ, а так же организация кофепойнтов на соревнованиях и праздниках выше всяких похвал. Комитет рекомендует выбирать в качестве партнеров компанию ПКМ.
          .slider__slide 
            .slider__slideimages 
              img(src="img/intra.png" alt="Фото").slider__slideimg
            .slider__slideinfo 
              h3.slider__slidetitle ООО «Сервисная Компания Интра»
              p.slider__slidecompany Ведущая российская компания, выполняющая весь комплекс услуг в области безостановочных ремонтов трубопровода.
              p.slider__slidetext Пользуемся услугами компании ПКМ уже на протяжении более двух лет. Радует организованность и пунктуальность доставок; в случае неисправности кофемашин оперативно предоставляется либо новая техника, либо производится ремонт на месте согласно договору в течение 48 часов без задержек. В нашем офисе работает 5 кофемашин от ПКМ, поэтому так важно, что оборудование полностью обслуживалось предоставляющей компанией от и до. Кофе всегда привозят свежей обжарки, никогда не встречаются пачки полугодовой давности. Спасибо ПКМ за бодрость нашей компании.
          .slider__slide 
            .slider__slideimages 
              img(src="img/zn.png" alt="Фото").slider__slideimg
            .slider__slideinfo 
              h3.slider__slidetitle Звезда Невы
              p.slider__slidecompany 
              p.slider__slidetext В первую очередь, хотим сказать, что это вкуснейший и качественный кофе! Всегда очень приятный аромат и яркий вкус, прям как в рекламе. Также, хотим выразить благодарность ребятам за отличный сервис, быстрое обслуживание и удобные кофемашины. Это не идеальное соотношения цены и качества, потому, что уровень качества намного выше цены! Всем рекомендуем.
        img(src="img/strelka.png" alt="Стрелка").slider__arrow.slider__arrow--next
