mixin testcoffee(modifier)
  .testcoffee&attributes(attributes)
    .testcoffee__content
      .testcoffee__info
        h1.testcoffee__title Закупайте&nbsp;кофе&nbsp;оптом с&nbsp;доставкой&nbsp;по&nbsp;всей России
        .testcoffee__links 
          a(href="#").testcoffee__link Сначала пробуйте
          a(href="#").testcoffee__link Потом покупайтe
        p.testcoffee__text Отправим бесплатный пробник кофе — на выбор более 30 сортов свежей&nbsp;обжарки для фильтра и эспрессо. 
      img(src="img/testcoffee.jpg" alt="Кофе").testcoffee__image