mixin stickers(modifier)
  .stickers&attributes(attributes)
    .stickers__content 
      .stickers__sticker
        img(src="img/sticker1.png" alt="Стикер").stickers__img
        p.stickers__text Закупаем кофе с плантаций без&nbsp;посредников
      .stickers__sticker
        img(src="img/sticker2.png" alt="Стикер").stickers__img
        p.stickers__text Обжариваем зерна на&nbsp;собственном&nbsp;производстве
      .stickers__sticker
        img(src="img/sticker3.png" alt="Стикер").stickers__img
        p.stickers__text Предлагаем доступные цены за&nbsp;преимум качество