
include ../blocks/header/header.pug
include ../blocks/testcoffee/testcoffee.pug
include ../blocks/form/form.pug
include ../blocks/stickers/stickers.pug
include ../blocks/coffeefire/coffeefire.pug
include ../blocks/process/process.pug
include ../blocks/autor/autor.pug
include ../blocks/delivery/delivery.pug
include ../blocks/quality/quality.pug
include ../blocks/assortment/assortment.pug
include ../blocks/staff/staff.pug
include ../blocks/input/input.pug
include ../blocks/price/price.pug
include ../blocks/footer/footer.pug
include ../blocks/slider/slider.pug
include ../blocks/info/info.pug
include ../blocks/popup/popup.pug
