mixin input(modifier)
  .input&attributes(attributes)
    .input__content 
      h2.input__title Подписывайтесь на&nbsp;новости&nbsp;и&nbsp;акции
      form.input__form
        input(type="text" placeholder="Введите ваш email").input__input
        button.input__button Подписаться