mixin price(modifier)
  .price&attributes(attributes)
    .price__content 
      h2.price__title доступная цена на кофе свежей обжарки
      p.price__text Кофе собирается на плантациях и проходит через множество этапов&nbsp;прежде чем попасть в вашу кофемашину.  
      p.price__text Наш конроль качества зерна начинается с момента сбора урожая&nbsp;и&nbsp;заканчивается приготовлением первой чашки кофе для&nbsp;каждой партии.
      .price__cards
        .price__card 
          h3.price__cardtitle от 10 кг.
          p.price__cardtext Минимальная партия оптового заказа 
        .price__card 
          h3.price__cardtitle от 480 ₽
          p.price__cardtext Стоимость за 1 кг. кофе свежей обжарки 
      

