mixin coffeefire(modifier)
  .coffeefire&attributes(attributes)
    .coffeefire__content
      .coffeefire__info 
        h2.coffeefire__title Обжариваем и доставляем свежий кофе с 2013 года
        p.coffeefire__text За много лет приобрели опыт, стали экспертами производства обжарки кофе и при этом остались людьми, всё это помогает нам производить совершенный кофе для всех наших клиентов.
        p.coffeefire__text Мы проводим контрольные капинги и заключаем контракты на поставки отборного зерна каждый новый урожай.
        p.coffeefire__text Имеем собственное технологичное производство в&nbspСанкт&nbsp-&nbspПетербурге,&nbspпроизводственная мощность которого 5&nbsp000&nbspкг.&nbspв&nbspсутки.
      picture.coffeefire__images
        source(srcset="img/coffeemobile.png" media="(max-width: 360px)")
        img(src="img/coffeefire.png" alt="Пачка кофе").coffeefire__image
      