mixin process(modifier)
  .process&attributes(attributes)
    .process__content 
      .process__block
        span.process__num 01
        p.process__text Закупаем и привозим свежие зерна кофе со&nbsp;всего мира
      .process__block
        span.process__num 02
        p.process__text Обжариваем на&nbsp;технологичных ростерах Typhoon
      .process__block
        span.process__num 03
        p.process__text Затем осуществляется контроль качества и&nbsp;каппинг каждой партии
      .process__block
        span.process__num 04
        p.process__text Далее отправляем свежеобжаренный кофе на&nbsp;фасовку и упаковку
      .process__block
        span.process__num 05
        p.process__text После чего готовый продукт передается в&nbsp;отдел доставки
      .process__block
        span.process__num 06
        p.process__text Вы получаете поставку свежего кофе во время и&nbsp;без задержек