mixin staff(modifier)
  .staff&attributes(attributes)
    .staff__content
      .staff__info
        h2.staff__title Наши профессионалы сделают&nbsp;всё&nbsp;на высшем уровне
        a(href="#").staff__button История ПКМ
      .staff__cards
        .staff__card 
          img(src="img/staff1.jpg" alt="Сотрудник").staff__cardimage
          h3.staff__cardtitle Олег Булгаков
          p.staff__cardtext Менеджер по работе с оптовыми клиентами
        //.staff__card 
          img(src="img/staff2.jpg" alt="Сотрудник").staff__cardimage
          h3.staff__cardtitle Оксана Павловна
          p.staff__cardtext Представитель компании в Сочи
        //.staff__card 
          img(src="img/staff3.jpg" alt="Сотрудник").staff__cardimage
          h3.staff__cardtitle Виталий Гончаренко
          p.staff__cardtext Бариста 
