extends ../templates/template.pug
block content
    +header
    +testcoffee
    +form('Оставьте заявку сейчас!','Получите пробник кофе - совершенно бесплатно!','','','coffeebag') 
    +stickers
    +coffeefire
    +process
    +autor 
    +delivery
    +quality
    +assortment
    +form('Оставьте заявку сейчас!','Получите оптовый прайс на весь ассортимент.','','','cap')
    +slider
    +staff
    +input
    +price
    +form('Делаем кофе,','который пьем сами!','Оставьте заявку сейчас!','Получите каталог сортов кофе  с подробным описанием и оптовыми ценами!','glass')
    +footer 
    +popup