mixin assortment(modifier)
  .assortment&attributes(attributes)
    .assortment__content  
      h2.assortment__title На выбор более 30 сортов кофе
      p.assortment__text Предлагаем ТОП ассортимент: смеси, моносорта и микролоты из&nbsp;Бразилии, Колумбии, Гватемалы, Мексики, Коста-Рики, Гондураса, Эфиопии, Вьетнама, Перу и Сальвадора
      .assortment__cards   
        .assortment__card 
          img(src="img/testbag.png" alt="Пробник кофе").assortment__cardimage
          h3.assortment__cardtitle Бразилия Суль Де Минас
          p.assortment__cardtext С нотами арахиса, какао и цедры лимона. По мере остывания напитка добавляются ягодные оттенки.
          span.assortment__cardprice от 480 ₽ / кг.
        //.assortment__card 
          img(src="img/testbag.png" alt="Пробник кофе").assortment__cardimage
          h3.assortment__cardtitle Колумбия Эксельсо
          p.assortment__cardtext С нотами какао, цветов и меда. Легкая&nbspкислинка фруктового вина.
          span.assortment__cardprice от 480 ₽ / кг.
        //.assortment__card 
          img(src="img/testbag.png" alt="Пробник кофе").assortment__cardimage
          h3.assortment__cardtitle Бон-а-бон
          p.assortment__cardtext С нотами арахиса, горького шоколада&nbspи&nbspлегкой кислинкой фруктовых вин.
          span.assortment__cardprice от 480 ₽ / кг.