mixin delivery(modifier)
  .delivery&attributes(attributes)
    .delivery__content
      .delivery__info 
        h2.delivery__title Оперативная и отлаженная доставка свежего кофе
        p.delivery__text Доставляем свежеобжаренный кофе с нашего производства в любую точку России в среднем за 5 дней после заказа. 
        p.delivery__text Логистика по всей России отлажена до мелочей. Мы поможем с выбором транспортной компании, которая доставляет в ваш город.
        p.delivery__text Для клиентов из Санкт-Петербурга доставляем кофе на автомобилях компании на следующий день после заказа.
        a(href="#").delivery__delivery
          img(src="img/truck.png" alt="Иконка").delivery__sticker
          span.delivery__linktext Узнать о доставке в мой город
      .delivery__links    
        a(href="#").delivery__link 
          img(src="img/cdek.png" alt="CDEK").delivery__image
        a(href="#").delivery__link
          img(src="img/dl.png" alt="Деловые Линии").delivery__image
        a(href="#").delivery__link 
          img(src="img/pek.png" alt="ПЭК").delivery__image
        a(href="#").delivery__link 
          img(src="img/bs.png" alt="Байкал Сервис").delivery__image
        a(href="#").delivery__link
          img(src="img/glav.png" alt="GLAV").delivery__image
        a(href="#").delivery__link
          img(src="img/gda.png" alt="Ж/Д Альянс").delivery__image
        
